<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
  <%= link_to "Create Review", review_path(review), method: :create %>
  <hr>
<% end %>
